hr {
	background-color: #666;
	height: 1px;
}
/*
.row, .col-12 {
	height: 100%;
}*/

.text, .carouselcontain {
	/*height: 90%;*/
	position: relative;
	/*font-size: 1.15em;*/
	/*padding-top: 0.3em;*/
	/*padding-bottom: 0.3em;*/
}

.carouselcontain {
	overflow: scroll;
}

.text p, .branch {
	/*height: 75%;*/
	/*width: 80%;*/
	background-color: #eee;
	border-radius: 10px;
}

/*.save, .sort, .dropdown-menu {
	margin-left: 10%;
}*/

.dropdown-menu {
	margin-top: 2%;
}

/*.x, .fullscreen, .flag, .add {
	margin-right: 10%;
}*/

.imgHover {
	opacity: 0.5;
}

.imgHover:hover {
	opacity: 1;
}

.fullscreen {
	position: absolute;
	right: 0;
}

.ratings {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0.5;
}

.add-icon {
	transform: rotate(45deg);
}

/*.sect {
	position: absolute;
	left: 0;
	right: 0;
}*/

.down-icon {
	background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	transform: rotate(90deg);
}

.carousel {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.carousel-item {
	margin: auto;
	/*height: 80%;*/
	/*padding-top: 3.5em;*/
}

.carousel-grid {
	padding: 0.5em;
}

.contain, .contain p, .contain:hover, .contain:hover p, .contain p:hover {
	height: 100%;
	text-decoration: none !important;
	color: #292b2c;
}

.contain p {
	border: 0;
	height: 100%;
}

.branch {
	position: relative;
}

/*.flag2, .score2 {
	margin: 0;
}*/

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

.gridItemContain {
	height: unset;
	padding: 0.5em;
}

.gridItem {
	border: solid black 2px;
	border-radius: 10px;
	min-height: 300px;
	padding: 1em;
	margin: auto 0;
}

.booklink:hover {
	text-decoration: none;
	color: #666;
}

.banner {
	background-image: url("https://images.unsplash.com/photo-1493679349286-c570804c71ec?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
	height: 500px;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.input-group {
	height: 50px;
}

.input-group > * {
	font-size: 1.3rem;
}

.about p {
	font-size: 1.4em;
	line-height: 2;
	font-weight: 300;
	letter-spacing: 0.01em;
}
